@media (min-width:320px) and (max-width:575px) {
    /* Common Css */
    h2 {
        width: 300px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    h3{
        font-size: 30px;
    }
     h4 {
        font-size: 16px;
    }
    
    .nav-icon, .nab-button, .side-content,
    #digital-area .hero-icon, #work-area .experince-icon2 {
        display: none;
    }
    /* Navbar responsive styles */
    #hero-area {
        padding: 40px 0 ;
        position: static;
    }

    .logo .navbar-brand img {
        width: 100px;
    }

    .navbar {
        padding: 17px 20px;
        display: flex;
    }

    .navbar .navbar-toggler {
        border: none;
    }

    .navbar .nav-links {
        background-color: var(--secondary-color);
        padding: 20px 0;
        border-radius: 20px;
        width: 100%;
        margin-top: 10px;
    }

    .navbar .nav-links .navbar-nav {
        flex-direction: column;
    }

    .navbar .nav-links .nav-link {
        color: var(--white-color);
        margin-left: 0;
        padding: 10px 20px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    .navbar-nav .dropdown-menu {
        background-color: transparent;
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        color: var(--white-color);
        text-align: center;
    }

    /* Hero Area responsive styles */

    #hero-area .hero-content h1 {
        font-size: 30px;
        width: 300px;
        margin-top: 50px;
    }
    #hero-area .hero-content p {
        font-size: 14px;
        width: 290px;
        margin: 15px 25px;
    }
    .btn-primary,
    .btn-secondary {
        padding: 12px 18px;
        font-size: 12px;
    }
    #hero-area .hero-cards {
        position: static;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    #hero-area .hero-cards .hero-card {
        width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }
   
    #hero-area .card-img-top {
        width: 40%;
        padding: 16px;
        margin: 0 auto;
    }

    /* Digital-Area responsive styles */
    #digital-area {
        padding: 0;
        position: static;
    }

    #digital-area .digital-wrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #digital-area .digital-wrapper img {
        position: static;
        width: 95%;
        height: 200px;
        margin: 0 auto;
    }

    #digital-area .digital-wrapper .digital-icon {
        width: 25%;
        height: 11%;
        top: -50px;
        right: 0;
    }

    #digital-area .digital-wrapper .digital-content {
        padding: 10px 20px;
        position: static;
        width: 100%;
    }

    #digital-area .digital-wrapper .digital-content .cross-icon {
        top: 270px;
        right: 50px;
    }
    #digital-area h2 {
    width: 350px;
}
    #digital-area .digital-wrapper h3 {
        margin-top: 35px;
        width: 296px;
        font-size: 18px;
    }

    #digital-area .digital-wrapper p {
        padding-right: 10px;
        width: 250px;
        font-size: 16px;
    }

    #digital-area .digital-wrapper .digital-content .experince-icon {
        top: 500px;
        width: 24%;
        height: 40%;
    }
    /* Work-Area Responsible Style */
    #work-area{
    padding: 40px 0;
    position: static;
}
#work-area .work-wrapper {
    display: block;
    margin-bottom: 40px;
}

}

@media (min-width:576px) and (max-width:767px) {
    #hero-area {
        padding: 100px 0;
    }

    .nav-icon {
        display: none;
    }

    .logo .navbar-brand img {
        width: 100px;
    }

    /* Navbar responsive styles */
    .navbar {
        padding: 20px 20px;
        display: flex;
        flex-direction: row;
    }

    .navbar .navbar-toggler {
        border: none;
    }

    .navbar .nav-links {
        position: absolute;
        right: 10px;
        top: 70px;
        background-color: var(--secondary-color);
        padding: 20px 0;
        border-radius: 20px;
        width: 50%;
    }

    .navbar .nav-links .navbar-nav {
        flex-direction: column;
    }

    .navbar .nav-links .nav-link {
        color: var(--white-color);
        margin-left: 0;
        padding: 10px 20px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

    .navbar-nav .dropdown-menu {
        background-color: transparent;
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        color: var(--white-color);
        text-align: center;
    }

    .nab-button {
        display: none;
    }

    #hero-area .hero-content h1 {
        font-size: 45px;
        width: 450px;
        margin-top: 50px;
    }

    #hero-area .hero-content p {
        font-size: 20px;
        width: 450px;
    }

    .side-content,
    #digital-area .hero-icon {
        display: none;
    }

    .btn-primary,
    .btn-secondary {
        padding: 16px 18px;
        font-size: 18px;
    }

    #hero-area .hero-cards {
        position: static;
        padding-bottom: 20px;
    }

    #hero-area .hero-cards .hero-card {
        width: 75%;
        margin-bottom: 20px;
        text-align: center;
    }

    #hero-area .card-img-top {
        width: 25%;
        padding: 16px;
        margin: 0 auto;
    }
    /* Digital-Area responsive styles */
    #digital-area {
        padding: 0;
    }

    #digital-area .digital {
        position: static;
    }

    #digital-area h2 {
        width: 400px;
        font-size: 40px;
    }

    #digital-area h4 {
        font-size: 20px;
    }

    #digital-area .digital-wrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #digital-area .digital-wrapper img {
        position: static;
        width: 80%;
        height: 200px;
        margin: 20px;
    }

    #digital-area .digital-wrapper .digital-icon {
    width: 19%;
    height: 12%;
    position: absolute;
    left: 267px;
}

    #digital-area .digital-wrapper .digital-content {
        padding: 10px 20px;
        position: static;
        width: 100%;
    }

    #digital-area .digital-wrapper .digital-content .cross-icon {
        top: 270px;
        right: 50px;
    }

    #digital-area .digital-wrapper h3 {
        margin-top: 35px;
         width: 450px;
        font-size: 30px;
    }

    #digital-area .digital-wrapper p {
        padding-right: 10px;
        width: 430px;
        font-size: 20px;
    }

   #digital-area .digital-wrapper .digital-content .experince-icon {
    top: 500px;
    width: 17%;
    height: 52%;
    right: 42px;
}
       /* Work-Area Responsible Style */
    #work-area{
    padding: 40px 0;
    position: static;
}
#work-area .work-wrapper {
    display: block;
    margin-bottom: 40px;
}
#work-area h2{
    width: 400px;
    font-size: 36px;
}
#work-area .btn-secondary{
    padding: 16px 18px;
    font-size: 16px;
}

}